/* for all */
:root {
    --text-color: #434455;
    --trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    background-color: #fff;
}

h1,
h2,
h3,
p,
ul {
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    /* width: 1158px; */
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    /* outline: 2px solid red; */
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.no-scroll {
    overflow:hidden;
    /* scroll-behavior: unset; */
}

/* Header */
.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
    position: relative;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    color: #4D5AE5;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    /* margin-right: 76px; */
    display: flex;
    /* align-self: center; */
}

.logo-second-part {
    color: #2E2F42;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-list {
    display: none;
}

.contacts {
    display: none;
}

.menu-btn {
    background-color: transparent;
    border: none;
    width: 32px;
    height: 22px;
}

.menu-icon {
    fill: #2E2F42;
}

.menu-mob {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 40px;
    padding-left: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: visibility var(--trans), opacity var(--trans);
}

.close-menu-btn {
    width: 24px;
    height: 24px;
    
    border-radius: 50%;
    background: #E7E9FC1A;
    border: 1px solid #2E2F421A;

    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-left: auto;
    margin-bottom: 32px;
}

.close-menu-icon {
    width: 8px;
    height: 8px;
    fill: #2E2F42;
    }


.menu-item {
    font-weight: 700;            
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;                                                                     
}

.menu-li:not(:last-child) {
    margin-bottom: 40px;
}

.current {
    color: #404BBF;
}

.menu-contacts {
    margin-bottom: 48px;
}

.menu-contacts-list {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 40px;
}

.contacts-menu-item {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-menu-tel {
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 1.11;
}


.social-net-menu {
    display: flex;
    justify-content: space-between;
    max-width: 328px;
}


.soc-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: background-color;
    transition: var(--trans);
}

.social-menu-icons {
    width: 24px;
    height: 24px;
    fill: #F4F4FD;
}

.menu-mob.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    
    
}

/* main index */

/* HERO */

.hero {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                         rgba(46, 47, 66, 0.7)), 
                         url(../images/hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 428px;
    /* height: 600px; */
    padding-top: 112px;
    padding-bottom: 112px;
    margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),  
                    url(../images/hero-bg-mob-2x.jpg);
  }
}



.hero-header {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;  
    
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 320px;
    
    margin: 0 auto 72px;
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    
    border: none;
    border-radius: 4px;
    /* padding: 16px 32px; */
    min-width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;

    transition-property: background-color;
    transition: var(--trans);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

/* FEACHERS */

.feachers {
    padding-top: 96px;
    padding-bottom: 96px;
}

.feachers-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
}

.feachers-list .item {
    width: 100%;
}

.feachers-img {
    display: none;
}

.feachers-header-item {
    margin-bottom: 8px;
    text-align: center;
}



/* SERVICES */

.services {
    display: none;
}



/* TEAM */

.team {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
    /* padding-top: 120px;
    padding-bottom: 120px; */
}

.team .container {
    width: calc(264px + 16px *2);
}

.team-header {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    
}

.team-item {
    background-color: #ffffff;
    /* width: calc((100% - 72px) / 4); */
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}


.team-name-position {
    padding: 32px 16px;
    /* margin-bottom: 8px; */
}

.team-header-item {
    /* margin-top: 32px; */
    margin-bottom: 8px;
    
    text-align: center;
}

.team-text-item {
    /* margin-bottom: 32px; */
    
    margin-bottom: 8px;
    text-align: center;
}

.social-net {
    display: flex;
    gap: 24px;
    /* margin-bottom: 32px; */
    /* margin: 0 16px 32px; */
}
.social-item {
    width: 40px;
    height: 40px;
    
    /* padding: 12px; */
}

.team-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: background-color;
    transition: var(--trans);
}

.social-icons {
    width: 16px;
    height: 16px;
    fill: #F4F4FD;
}

.team-link:hover,
.team-link:focus {
    background-color: #404BBF;
}

/* CUSTOMERS */

.customers {
    padding-top: 96px;
    padding-bottom: 96px;
    /* padding-top: 120px;
    padding-bottom: 120px; */
}

.customers-title {
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
    justify-content: center;
}
.customers-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
}

.customer-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    color: #8E8F99;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: color, border;
    transition: var(--trans);
}

.customers-logo {
    fill: currentColor;
    width: 104px;
    height: 56px;
    /* margin: 16px 32px; */
}

.customer-link:hover,
.customer-link:focus {
    border: 1px solid #404BBF;
    color: #404BBF;
}




/* main Portfolio */

.portfolio {
    padding-top: 48px;
    padding-bottom: 48px;
}

.portfolio-filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
    justify-content: left;
    column-gap: 24px;
    row-gap: 16px;
    width: calc(263px + 16px);
}

.portfolio-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    color: #4D5AE5;
    background-color: #F4F4FD;
    
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 16px;

    transition-property: color, background-color, box-shadow, border;
    transition: var(--trans);
}


.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 2px 1px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid transparent;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-list .item {
    width: calc((100% - 48px) / 3);
    /* width: 360px; */
    /* padding-bottom: 32px; */
    /* margin-right: 24px; */
    /* margin-bottom: 48px; */
}

.portfolio-item-name {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio-header {
    color: #2E2F42;
    margin-bottom: 8px;
    /* margin-top: 32px; */
    /* margin-left: 16px; */
}

.box-overlay {
    position: relative;
    overflow: hidden
}

.overlay {
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    overflow: auto;
    

    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;

    position: absolute;
    top: 0;
    left: 0;

    transition-property: transform;
    transform: translateY(100%);
    transition: var(--trans);
}

.portfolio-item.link:hover .overlay,
.portfolio-item.link:focus .overlay {
    transform: translate(0, 0);
}


/* Footer */

.footer {
    background-color: #2E2F42;
    padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer .container {
    display: block;
    width: 100%;
    padding: 0;
}

.container-disclaimer {
    max-width: 268px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 72px;
    /* margin-right: 24px; */
}

.footer .link-logo {
    margin-bottom: 16px;
}

.logo-second-footer {
    color: #F4F4FD;
}

.disclaimer {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container-social {
    max-width: 208px;
    margin: 0 auto 72px;
    display: flex;
    flex-direction: column;
    
}

.social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 0 auto 16px;
}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.footer-social {
    width: 24px;
    height: 24px;
    fill: #F4F4FD; 
}



.footer-soc-link:hover, 
.footer-soc-link:focus {
    background-color: #31D0AA;

    transition-property: background-color;
    transition: var(--trans);
}

.container-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    width: 100%;
    max-width: 428px;
    
}

.footer-login {
    width: 100%;
    max-width: 398px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.footer-login::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.subscribe-btn {
    min-width: 165px;
    height: 40px;
    background: #4D5AE5;
    border-radius: 4px; 
    border: none;
    padding: 8px 24px;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;

    transition-property: background-color;
    transition: var(--trans);
}

.subscribe-icon {
    width: 24px;
    height: 24px;
    fill: #FFFFFF;
}


.subscribe-btn:hover,
.subscribe-btn:focus {
background-color: #404BBF;
}

/* MODAL */

.backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    transition: opacity var(--trans), visibility var(--trans);
}

.modal-window {
    /* width: 408px; */
    width: 92%;
    max-width: 392px;
    max-height: 584px;
    background-color: #FCFCFC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 72px 16px 24px;
    overflow-y: scroll;
    

    /* display: flex; */
}

.close-btn {
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    color: #2E2F42;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;

    position: absolute;
    top: 24px;
    right: 24px;

    transition-property: background-color, border, color;
    transition: var(--trans);
}

.close-icon {
    width: 8px;
    height: 8px;
    fill: currentColor;
}

.close-btn:hover,
.close-btn:focus {
    background-color: #404BBF;
    border: none;
    color: #FFFFFF;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 38px;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    color: rgba(46, 47, 66, 0.4);
    letter-spacing: 0.04em;

    transition: border-color var(--trans);
}

.modal-input:focus,
.modal-comment:focus {
    border-color: #4D5AE5;
}

.modal-input:focus + .form-icons {
    fill: #4D5AE5;
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.form-field {
    position: relative;
}

.form-icons {
    width: 18px;
    height: 18px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    fill: #2E2F42;

    transition-property: fill;
    transition: var(--trans);
}

.modal-textarea {
    margin-bottom: 16px;
}

.modal-comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    color: rgba(46, 47, 66, 0.4);
    letter-spacing: 0.04em;
}

.modal-comment::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}




.modal-submit {
    min-width: 169px;
    height: 56px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;

    display: block;
    margin: auto;

    /* position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 24px; */

    transition-property: background-color;
    transition: var(--trans);
}

.modal-agreement {
    margin-bottom: 24px;
}

.agreement {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: flex;
    align-items: center;
}

.fake-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    transition: background-color var(--trans), border-color var(--trans);
}

/* .agreement::before {
    content: '';
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;
    background-image: url(/images/check.svg);
    fill: #F4F4FD;;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px;
    transition: background-color var(--trans), border-color var(--trans);
} */



.private-agree:checked + .agreement .fake-checkbox {
    background-color: #404BBF;
    border-color: #404BBF;
    fill: #F4F4FD;
}

.private-agree:focus + .agreement .fake-checkbox {
    border-color: #4D5AE5;
}


.modal-submit:hover,
.modal-submit:focus {
    background-color: #404BBF;
}