/* for all */
:root {
    --text-color: #434455;
    --trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    background-color: #fff;
}

h1,
h2,
h3,
p,
ul {
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid red; */
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Header */
.header {
    /* padding-top: 0px;
    padding-bottom: 0px; */
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    color: #4D5AE5;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-right: 76px;
    display: flex;
    align-self: center;
}

.logo-second-part {
    color: #2E2F42;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    /* align-items: center; */
    gap: 40px;
}

.nav-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-weight: 500;

    display: block;
    position: relative;

    padding-top: 24px;
    padding-bottom: 24px;

    transition-property: color;
    transition: var(--trans);
}

/* .nav-list .item {
    padding-top: 24px;
    padding-bottom: 24px; */
    /* margin-right: 40px; */
/* } */

.current {
    color: #404BBF;
}

.nav-item.current::after {
    content: '';
    height: 4px;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;

    background-color: #404BBF;
    border-radius: 2px;
}


/* .nav-list .item:last-child {
    margin-right: 0px;
} */

.nav-item:hover,
.nav-item:focus {
    color: #404BBF;  
}

.contacts {
    font-style: normal;
    display: flex;
    align-items: center;
}

.contacts-list {
    display: flex;
    gap: 40px;
    /* align-items: center; */
    /* justify-content: center; */
}

/* .contacts-list .item {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 40px;
} */

/* .contacts-list .item:last-child {
    margin-right: 0;
} */

.contacts-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

    transition-property: color;
    transition: var(--trans);
}

.contacts-item:hover,
.contacts-item:focus {
    color: #404BBF;
}

/* main index */

/* HERO */

.hero {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    margin: 0 auto;
}
.hero-header {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    
    /* width: 496px; */
    /* margin-bottom: 48px; */
    margin: 0 auto 48px;
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    
    border: none;
    border-radius: 4px;
    /* padding: 16px 32px; */
    min-width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;

    transition-property: background-color;
    transition: var(--trans);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

/* FEACHERS */

.feachers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.feachers-list {
    display: flex;
    gap: 24px;
}

.feachers-list .item {
    width: calc((100%-72px)/4);
}

.feachers-img {
    background-color: #F4F4FD;
    border-radius: 4px;
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feachers-header-item {
    margin-bottom: 8px;
}



/* SERVICES */

.services {
    padding-bottom: 120px;
}

.services-header {
    margin-bottom: 72px;
}

.services-list {
    display: flex;
    gap: 24px;
}

.services-list .item {
    width: 360px;
    height: 300px;
    border: 1px solid #E7E9FC;
    /* margin-right: 24px; */
}

/* .services-list .item:last-child {
    margin-right: 0;
} */

/* TEAM */

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-header {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    
}

.team-item {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    /* padding-bottom: 32px; */
    background-color: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 32px;
    /* margin-right: 24px; */
}

/* .team-list .team-item:last-child {
    margin-right: 0;
} */

.team-name-position {
    padding: 32px 16px 0;
    /* margin-bottom: 8px; */
}

.team-header-item {
    /* margin-top: 32px; */
    /* margin-bottom: 8px; */
    text-align: center;
}

.team-text-item {
    /* margin-bottom: 32px; */
    margin-bottom: 8px;
    text-align: center;
}

.social-net {
    display: flex;
    gap: 24px;
    /* margin-bottom: 32px; */
    /* margin: 0 16px 32px; */
}
.social-item {
    width: 40px;
    height: 40px;
    
    /* padding: 12px; */
}

.team-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: background-color;
    transition: var(--trans);
}

.social-icons {
    width: 16px;
    height: 16px;
    fill: #F4F4FD;
}

.team-link:hover,
.team-link:focus {
    background-color: #404BBF;
}

/* CUSTOMERS */

.customers {
    padding-top: 23px;
    padding-bottom: 120px;
}

.customers-title {
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.customers-item {
    /* width: calc((100%-120px)/6); */
    width: 168px;
    height: 88px;
  
    
    /* fill: #8E8F99; */
}

.customer-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    color: #8E8F99;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: color, border;
    transition: var(--trans);
}

.customers-logo {
    fill: currentColor;
    width: 104px;
    height: 56px;
    /* margin: 16px 32px; */
}

.customer-link:hover,
.customer-link:focus {
    border: 1px solid #404BBF;
    color: #404BBF;
}




/* main Portfolio */

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-filter {
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
}

.portfolio-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    color: #4D5AE5;
    background-color: #F4F4FD;
    
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 24px;

    transition-property: color, background-color, box-shadow, border;
    transition: var(--trans);
}

.portfolio-filter .item {
    margin-right: 24px;
}

.portfolio-filter .item:last-child {
    margin-right: 0;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 2px 1px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid transparent;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-list .item {
    width: calc((100% - 48px) / 3);
    /* width: 360px; */
    /* padding-bottom: 32px; */
    /* margin-right: 24px; */
    /* margin-bottom: 48px; */
}

.portfolio-item-name {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

/* .portfolio-list .item:nth-child(3n) {
    margin-right: 0;
} */

/* .portfolio-list .item:nth-last-child(-n+3) {
    margin-bottom: 0;
} */

.portfolio-header {
    color: #2E2F42;
    margin-bottom: 8px;
    /* margin-top: 32px; */
    /* margin-left: 16px; */
}

.box-overlay {
    position: relative;
    overflow: hidden
}

.overlay {
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    overflow: auto;
    

    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;

    position: absolute;
    top: 0;
    left: 0;

    transition-property: transform;
    transform: translateY(100%);
    transition: var(--trans);
}

.portfolio-item.link:hover .overlay,
.portfolio-item.link:focus .overlay {
    transform: translate(0, 0);
}


/* Footer */

.footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.container-disclaimer {
    margin-right: 120px;
}

.footer .link-logo {
    display: inline-block;
    margin-bottom: 16px;
    padding: 0;
}

.logo-second-footer {
    color: #F4F4FD;
}

.disclaimer {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.container-social {
    /* margin-right: 83px; have to be 80 px */
    max-width: 208px;
}

.social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    margin-bottom: 16px;
}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.footer-social {
    width: 24px;
    height: 24px;
    fill: #F4F4FD; 
}



.footer-soc-link:hover, 
.footer-soc-link:focus {
    background-color: #31D0AA;

    transition-property: background-color;
    transition: var(--trans);
}

.container-form {
    width: 453px;
    margin-left: auto;
}

.footer-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
}

.footer-login {
    width: 264px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    margin-right: 24px;

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.footer-login::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.subscribe-btn {
    min-width: 165px;
    height: 40px;
    background: #4D5AE5;
    border-radius: 4px; 
    border: none;
    padding-left: 24px;
    padding-right: 24px;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;

    transition-property: background-color;
    transition: var(--trans);
}

.subscribe-icon {
    width: 24px;
    height: 24px;
    fill: #FFFFFF;
}


.subscribe-btn:hover,
.subscribe-btn:focus {
background-color: #404BBF;
}

/* MODAL */

.backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    transition: opacity var(--trans), visibility var(--trans);
}

.modal-window {
    width: 408px;
    min-height: 585px;
    background-color: #FCFCFC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px;
    

    /* display: flex; */
}

.close-btn {
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    color: #2E2F42;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;

    position: absolute;
    top: 24px;
    right: 24px;

    transition-property: background-color, border, color;
    transition: var(--trans);
}

.close-icon {
    width: 8px;
    height: 8px;
    fill: currentColor;
}

.close-btn:hover,
.close-btn:focus {
    background-color: #404BBF;
    border: none;
    color: #FFFFFF;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 38px;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    color: rgba(46, 47, 66, 0.4);
    letter-spacing: 0.04em;

    /* transition-property: border-color; */
    transition: border-color var(--trans);
}

.modal-input:focus,
.modal-comment:focus {
    border-color: #4D5AE5;
}

.modal-input:focus + .form-icons {
    fill: #4D5AE5;
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.form-field {
    position: relative;
}

.form-icons {
    width: 18px;
    height: 18px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    fill: #2E2F42;

    transition-property: fill;
    transition: var(--trans);
}

.modal-textarea {
    margin-bottom: 16px;
}

.modal-comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    color: rgba(46, 47, 66, 0.4);
    letter-spacing: 0.04em;
}

.modal-comment::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}




.modal-submit {
    min-width: 169px;
    height: 56px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;

    display: block;
    margin: auto;

    /* position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 24px; */

    transition-property: background-color;
    transition: var(--trans);
}

.modal-agreement {
    margin-bottom: 24px;
}

.agreement {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: flex;
    align-items: center;
}

.fake-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    transition: background-color var(--trans), border-color var(--trans);
}

/* .agreement::before {
    content: '';
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;
    background-image: url(/images/check.svg);
    fill: #F4F4FD;;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px;
    transition: background-color var(--trans), border-color var(--trans);
} */



.private-agree:checked + .agreement .fake-checkbox {
    background-color: #404BBF;
    border-color: #404BBF;
    fill: #F4F4FD;
}

.private-agree:focus + .agreement .fake-checkbox {
    border-color: #4D5AE5;
}


.modal-submit:hover,
.modal-submit:focus {
    background-color: #404BBF;
}